# Ignore R project files
.Rhistory
.RData
.Rproj.user/

# Ignore output files
*.nex
*.svg
*.xlsx
*.csv
*.tsv
*.fai
*.phy
*.treefile
*.fas
*.fasta
*.txt

# Ignore user-specific config
*.yaml

#ignore other R files
Color_Scheme.R
Match_treeID_Metadata.R
